 *{
    box-sizing: border-box;
    
    }
    header {
            border: 1px solid black;
        }

    span.cname {
            font-size: 52px;
        }
    section{
    	float: left;
    	width:30%;
    	padding:20px;
height:500px;    
	border: 2px solid blue;
    }
    article{
float:right;
width:70%;
height:500px;
padding:10px;
    	border: 2px solid green;
    	overflow-y: scroll;

}
footer {
  border:2px solid green;
  text-align:center;
  position:absolute;
  bottom:0;
  width:100%;
}
